@page "/editorramais"
@inject IJSRuntime JS

<div id="editor5" class="h-40"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", @"
                var quill = new Quill('#editor5', {
                    theme: 'snow'
                });
            ");
        }
    }
}