@page "/Eventos" 
 @inject IJSRuntime JS
 <!-- BLOCO EVENTOS-->
<div class="w-full flex flex-wrap gap-4"> 
<div id="eventos" class="w-full">
    <h2 class="text-1xl font-normal p-4 bg-green-500 text-white w-full"><i class="fas fa-theater-masks"></i> Eventos</h2>
    <div class="relative overflow-hidden w-full border-4 border-green-500 h-[252px] overflow-y-auto p-4">
            @if (EventosContent == "Nenhum aviso disponível.")
            {
                <p class="text-center mt-5 text-gray-500">@EventosContent</p>
            }
            else
            {
                @((MarkupString)EventosContent)
            }

        </div>
    </div>
</div>
@code {
    private string EventosContent = "";

    protected override async Task OnInitializedAsync()
    {   // Busca os avisos no IndexedDB
        var eventos = await JS.InvokeAsync<string>("quillIndexedDBEventos.getEventos");
        // Se a resposta for vazia ou nula, manter a mensagem padrão
        EventosContent = string.IsNullOrWhiteSpace(eventos) ? "" : eventos;
        StateHasChanged(); // Força a atualização do componente
    }
}