@page "/Eventos" 
 @inject IJSRuntime JS
 <!-- BLOCO EVENTOS-->
<div class="w-full flex flex-wrap gap-4"> 
<div id="eventos" class="w-full">
    <h2 class="text-1xl font-normal p-4 bg-green-500 text-white w-full"><i class="fas fa-theater-masks"></i> Eventos</h2>
    <div class="relative overflow-hidden w-full border-4 border-green-500 h-[250px] overflow-y-auto">
        <ul class="mt-4 text-md text-justify space-y-2 ml-5">
            <li>07/02 - Workshop de Inovação</li>
            <li>14/02 - Palestra sobre Segurança Digital</li>
            <li>22/02 - Evento de Integração da Equipe</li>
            <li>28/02 - Reunião de Estratégia 2025</li>
        </ul>
    </div>
</div>   
</div>