@page "/"
@inject IJSRuntime JS

<PageTitle>Intranet SMTT</PageTitle>
 <div class="w-auto px-0 py-10 ml-[250px] overflow-x-hidden">
    <div class="grid grid-cols-5 gap-4">
    <Ascom />
    <Avisos />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4 mb-2">
    <Ramais />
    <Datascomemorativas />
    <div class="flex flex-col space-y-4">
    <Eventos />
    <Aniversariante />
    </div>
  </div>  
</div>

