<footer class="bg-gray-800 text-white text-center p-2 fixed bottom-0 left-0 w-full text-md z-50">
    &copy; 2025 Intranet - Superintendência Municipal de Transportes e Trânsito de Aracaju (SMTT) - Sob a Lei de
    Proteção de Dados LGPD. <i class="fas fa-gavel"></i>
    <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank"
        class="text-azure text-[15px] font-bold">
        Leia</a>
</footer>
