<div class="flex flex-1">
            <!-- Sidebar -->
            <div class="w-[260px] bg-gray-800 text-white p-4 space-y-4 fixed top-20 bottom-0 overflow-y-auto">
                <nav class="space-y-2">
                    <a href="http://smttaju.com.br/"
                        class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                        target="_blank"><i class="fas fa-chevron-right"></i> Portal SMTT</a>
                    <a href="https://transparencia.aracaju.se.gov.br/smtt/"
                        class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                        target="_blank"><i class="fas fa-chevron-right"></i> Portal Transparência</a>
                    <a href="http://ajuinteligente.aracaju.se.gov.br/"
                        class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                        target="_blank"><i class="fas fa-chevron-right"></i> AjuInteligente</a>
                    <a href="https://aracaju.1doc.com.br/b.php?pg=o/login&n=3"
                        class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                        target="_blank"><i class="fas fa-chevron-right"></i> 1DOC</a>
                    <a href="https://aracaju.1doc.com.br/b.php?pg=wp/wp&itd=4"
                        class="block p-2 rounded hover:bg-gray-700" target="_blank"><i class="fas fa-chevron-right"></i>
                        Ouvidoria</a>
                    <a href="https://gmail.com.br"
                        class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                        target="_blank"><i class="fas fa-chevron-right"></i> Web Mail</a>
                    <a href="https://stou.ifractal.com.br/aracaju/login.php"
                    class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                    target="_blank"><i class="fas fa-chevron-right"></i> IfPonto</a>
                    <a href="http://sga.aracaju.se.gov.br:5011/sas/"
                        class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                        target="_blank"><i class="fas fa-chevron-right"></i> Portal do Servidor</a>
                    <a href="https://portalservicos.senatran.serpro.gov.br/#/home"
                    class="block p-2 rounded hover:bg-gray-700 transition-transform duration-300 hover:translate-x-1"
                    target="_blank"><i class="fas fa-chevron-right"></i> Portal Senatran</a>                   
                </nav>
            </div>
</div>